# Base de données
DB_HOST=localhost
DB_PORT=5433
DB_USER=airboard
DB_PASSWORD=airboard123
DB_NAME=airboard

# JWT
JWT_SECRET=votre-secret-jwt-ici

# Mode de développement
GIN_MODE=debug

# Frontend
VITE_API_URL=http://localhost:8080